DEBUG=1
SECRET_KEY='django-insecure--2%bd_)t_9csbe01)y+fov^%1u3iulb!-r&kpz@d3r90-eib1i'

# PostgreSQL Settings
POSTGRES_DB=company_db
POSTGRES_USER=admin
POSTGRES_PASSWORD=secure_password_123
POSTGRES_HOST=db
POSTGRES_PORT=5432