__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.venv/
venv/
ENV/
*.swp
.coverage
htmlcov/

db.sqlite3
db.sqlite3-journal
media/
staticfiles/
*.log

.env
.env.local
.env.test


postgres_data/

.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.DS_Store

.pip-cache/
